{{ define "posts"}}
{{ template "head" .}}

<body>
  {{template "header" .}}

  <div class="body">

    <div class="posts">
      {{range $PostDate, $Post := .Posts}}
      <div class="post-card">
        <a id="post-link" href="posts/{{$Post.Filename}}.html">
          {{$Post.Frontmatter.Title}}: {{$Post.Frontmatter.Description}}
        </a>
        <div class="post-metadata">
          <p>{{$Post.Frontmatter.Date}}</p>
        </div>
      </div>
      {{end}}
    </div>

  </div>
  {{template "footer" .}}
</body>

</html>

{{ end}}
