{{ define "page"}}
{{ template "head" .}}

<body>
    <div class="body-container">
        {{template "header" .}}

        <div class="body">

            {{if eq .Frontmatter.Type "post"}}
            <h2>{{.Frontmatter.Title}}</h2>
            {{end}}

            <div class="tags-placeholder">

                <!-- {{if ne (len .Frontmatter.Tags) 0 }}
            <div>Tags: </div>
            {{end}} -->

                {{range .Frontmatter.Tags}}
                <a href="/tags/{{.}}.html">
                    {{.}}
                </a>
                {{end}}
            </div>
            {{.Body}}

        </div>

        {{template "footer" .}}

        <script>hljs.highlightAll();</script>
    </div>
</body>

</html>

{{ end}}