@font-face {
  font-family: custom-font;
  src: url(./fonts/Inter/Inter-Regular.ttf);
}

:root {
  --primary_colour: #BB86FC;
  --secondary_colour: #03DAC5;
  --gray: #6b6b6b;
  --content_font_size: 1.15rem;
  --mobile_content_font_size: 1rem;
  --postlink_font_size: 2rem;
  --mobile_postlink_font_size: 2rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: var(--content_font_size);
  line-height: 1.7rem;
}

body {
  padding: 1rem;
  font-family: custom-font, monospace, sans-serif;
  height: 100vh;

  color: white;
  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

header,
footer {
  width: 100%;
  flex: 0;
}

footer {
  padding: 0.5rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 0 1rem;
  border-bottom: 0.2rem solid var(--gray);
}

nav a {
  font-size: 1.4rem;
  color: var(--primary_colour);
}

a {
  color: var(--primary_colour);
  text-decoration: underline;
  /* make sure text is not selectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: justify;
}

a:hover {
  color: var(--primary_colour);
  text-decoration: underline;
}

.body {
  flex: 1 0 auto;
  padding: 0 15rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.body a {
  font-size: var(--content_font_size);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

.posts>a {
  text-align: center;
  color: var(--primary_colour);
  font-size: var(--postlink_font_size);
}

img {
  height: 35rem;
  width: auto;
  border-radius: .2rem;
}

ul,
ol {
  padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary_colour);
  line-height: 2rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.3rem;
}

/* Code styling */
pre code {
  font-family: monospace;
  display: block;
  background: #41414193;
  border: 1.5px solid #ffffff35;
  border-radius: 5px;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 10rem;
  padding: 1rem;
}

p>code,
li>code,
dd>code,
td>code {
  font-family: monospace;
  background: #41414193;
  border: 1.5px solid #ffffff35;
  border-radius: 5px;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .1rem;
  border-radius: .2rem;
}

@media screen and (max-width: 600px) {
  * {
    font-size: var(--mobile_content_font_size);
  }

  img {
    max-width: 350px;
    min-width: 200px;
    height: auto;
  }

  body {
    padding: 1rem;
    width: 100%;
  }

  .body {
    width: 100%;
    padding: 0 1rem;
  }

  .body a {
    font-size: var(--mobile_content_font_size);
  }

  .posts>a {
    font-size: var(--mobile_postlink_font_size);
  }

  ul,
  ol {
    padding: 1rem;
  }
}
